/* carousel extension */
  @import url("carousel/bulma-carousel.css");

body, p, ol {
  font-family:"source-han-sans-traditional", "Microsoft JhengHei", sans-serif;
}


/* padding Park */
.padL {
  padding-top: 10%;
}
.padM {
  padding-top: 5%;
}
.padS {
  padding-top: 2.5%;
}
.padXS {
  padding-top: 0.5%;
}
.padBoth {
  padding-top: 5%;
  padding-bottom: 5%;
}
.padBothS {
  padding-top: 3%;
  padding-bottom: 1%;
}
.textPad {
  padding: 18%;
}

/* margin trailer */
.goUP {
  margin-top: -4px;
}
.goUPmore {
  margin-top: -12px;
}
.goUPfurther {
  margin-top: -18px;
}


/* customized styles */
.footer {
  background-color: transparent;
}
.button {
  border-radius: 80px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 5em;
  font-weight: bold;
}
.fa {
  color: #08a39f;
}
.stayBottom {
  position: fixed;
  right: 4vh;
  z-index: 30;
  bottom: 2vh;
}
.strokLeft {
  border-left: 2px solid #ffc636;
}
.strokeBoth {
  border-left: 2px solid #ffc636;
  border-right: 2px solid #ffc636;
}
/* this site only*/
.lanDING {
  background-color: #08a39f;
  background-image: url("img/titleBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.signUP {
  background-color: #08a39f;
  background-image: url("img/signUP_BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.GiFTs {
  background-color: #ffc636;
}
.aboutUS {
  background-color: #08a39f;
}
.RuLEs {
  background-color: #10665a;
}
.grnTitle {
  color: #10665a;
}
.orgTtitle {
  color: #f97919;
}
.whtBG {
  background-color: white;
}
.ylwO {
  background-image: url("img/yellowO.svg");
  background-repeat: no-repeat;
  background-position: center;
}


/* SVG helpers */
.svg-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}
.svg-icon svg {
  height:1em;
  width:1em;
}
.svg-icon.svg-baseline svg {
  bottom: -0.19em;
  position: absolute;
}

/* divider */
.diviDer {
  text-align: center;
}
.diviDer span {
  display: inline-block;
  position: relative;
}
.diviDer span::before,
.diviDer span::after {
  content: "";
  position: absolute;
  height: 1px;
  border-top: 0.05rem solid white;
  top: 10px;
  width: 12vh;
}
.diviDer span::before {
  right: 100%;
  margin-right: 2vh;
}
.diviDer span::after {
  left: 100%;
  margin-left: 2vh;
}

/*hard coded alt from originals*/
.navbar {
  background-color: rgba(0, 0, 0, 0);
}
.notification {
  background-color: #6bc8c5;
  border-radius: 15px;
}
.box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0), 0 0 0 0px rgba(10, 10, 10, 0);
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0), 0 0 0 0px rgba(10, 10, 10, 0);
}
a {
  color: #10665a;
  text-decoration: underline;
}
a:hover {
  color: #f97919;
}
.sectionS {
  padding: 2rem 2rem 1.3rem 2rem;
}
